<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Livros Orange</title>
</head>

<body>
<%- include('inicial') %>
<%- include('layout', { data: data }) %>
</body>

</html>